.dashboard {
	padding: 20px;
	font-family: Arial, sans-serif;
}

.dashboard h1 {
	text-align: center;
	margin-bottom: 20px;
}

.charts {
	margin-top: 20px;
}

.gauges {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.gauge {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 45%;
}

.gauge h3 {
	margin-bottom: 10px;
}
